# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources in the README.md file
- Happy learning!

In [1]:
import pandas as pd


# Challenge 1 - Import and Describe the Dataset

#### In this challenge we will use the `austin_weather` data. 

#### First, import it into a data frame called `austin`.

In [2]:
austin = pd.read_csv("../data/austin_weather.csv")

#### Next, describe the dataset you have loaded: 
- Look at the variables and their types
- Examine the descriptive statistics of the numeric variables 
- Look at the first five rows of all variables to evaluate the categorical variables as well

In [8]:
austin.shape

(1319, 21)

In [4]:
austin.head()

,Date,TempHighF,TempAvgF,TempLowF,DewPointHighF,DewPointAvgF,DewPointLowF,HumidityHighPercent,HumidityAvgPercent,HumidityLowPercent,...,SeaLevelPressureAvgInches,SeaLevelPressureLowInches,VisibilityHighMiles,VisibilityAvgMiles,VisibilityLowMiles,WindHighMPH,WindAvgMPH,WindGustMPH,PrecipitationSumInches,Events
0,2013-12-21,74,60,45,67,49,43,93,75,57,...,29.68,29.59,10,7,2,20,4,31,0.46,"Rain , Thunderstorm"
1,2013-12-22,56,48,39,43,36,28,93,68,43,...,30.13,29.87,10,10,5,16,6,25,0,
2,2013-12-23,58,45,32,31,27,23,76,52,27,...,30.49,30.41,10,10,10,8,3,12,0,
3,2013-12-24,61,46,31,36,28,21,89,56,22,...,30.45,30.3,10,10,7,12,4,20,0,
4,2013-12-25,58,50,41,44,40,36,86,71,56,...,30.33,30.27,10,10,7,10,2,16,T,

In [7]:
austin.describe()

         TempHighF     TempAvgF     TempLowF
count  1319.000000  1319.000000  1319.000000
mean     80.862775    70.642911    59.902957
std      14.766523    14.045904    14.190648
min      32.000000    29.000000    19.000000
25%      72.000000    62.000000    49.000000
50%      83.000000    73.000000    63.000000
75%      92.000000    83.000000    73.000000
max     107.000000    93.000000    81.000000

In [11]:
austin.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1319 entries, 0 to 1318
Data columns (total 21 columns):
Date                          1319 non-null object
TempHighF                     1319 non-null int64
TempAvgF                      1319 non-null int64
TempLowF                      1319 non-null int64
DewPointHighF                 1319 non-null object
DewPointAvgF                  1319 non-null object
DewPointLowF                  1319 non-null object
HumidityHighPercent           1319 non-null object
HumidityAvgPercent            1319 non-null object
HumidityLowPercent            1319 non-null object
SeaLevelPressureHighInches    1319 non-null object
SeaLevelPressureAvgInches     1319 non-null object
SeaLevelPressureLowInches     1319 non-null object
VisibilityHighMiles           1319 non-null object
VisibilityAvgMiles            1319 non-null object
VisibilityLowMiles            1319 non-null object
WindHighMPH                   1319 non-null object
WindAvgMPH                    1319 non-null object
WindGustMPH                   1319 non-null object
PrecipitationSumInches        1319 non-null object
Events                        1319 non-null object
dtypes: int64(3), object(18)
memory usage: 216.5+ KB

In [10]:
austin.dtypes

Date                          object
TempHighF                      int64
TempAvgF                       int64
TempLowF                       int64
DewPointHighF                 object
DewPointAvgF                  object
DewPointLowF                  object
HumidityHighPercent           object
HumidityAvgPercent            object
HumidityLowPercent            object
SeaLevelPressureHighInches    object
SeaLevelPressureAvgInches     object
SeaLevelPressureLowInches     object
VisibilityHighMiles           object
VisibilityAvgMiles            object
VisibilityLowMiles            object
WindHighMPH                   object
WindAvgMPH                    object
WindGustMPH                   object
PrecipitationSumInches        object
Events                        object
dtype: object

#### Given the information you have learned from examining the dataset, write down three insights about the data in a markdown cell below

In [1]:
# Your Insights:

#### Let's examine the DewPointAvgF variable by using the `unique()` function to list all unique values in this dataframe.

Describe what you find in a markdown cell below the code. What did you notice? What do you think made Pandas to treat this column as *object* instead of *int64*?

In [12]:
austin["DewPointAvgF"].unique()

array(['49', '36', '27', '28', '40', '39', '41', '26', '42', '22', '48',
       '32', '8', '11', '45', '55', '61', '37', '47', '25', '23', '20',
       '33', '30', '29', '17', '14', '13', '54', '59', '15', '24', '34',
       '35', '57', '50', '53', '60', '46', '56', '51', '31', '38', '62',
       '43', '63', '64', '67', '66', '58', '70', '68', '65', '69', '71',
       '72', '-', '73', '74', '21', '44', '52', '12', '75', '76', '18'],
      dtype=object)

There is a "-" that makes pandas to convert the whole column to object. It should be a NaN instead.

The following is a list of columns misrepresented as `object`. Use this list to convert the columns to numeric using the `pandas.to_numeric` function in the next cell. If you encounter errors in converting strings to numeric values, you need to catch those errors and force the conversion by supplying `errors='coerce'` as an argument for `pandas.to_numeric`. Coercing will replace non-convertable elements with `NaN` which represents an undefined numeric value. This makes it possible for us to conveniently handle missing values in subsequent data processing.

*Hint: you may use a loop to change one column at a time but it is more efficient to use `apply`.*

In [13]:
wrong_type_columns = ['DewPointHighF', 'DewPointAvgF', 'DewPointLowF', 'HumidityHighPercent', 
                      'HumidityAvgPercent', 'HumidityLowPercent', 'SeaLevelPressureHighInches', 
                      'SeaLevelPressureAvgInches' ,'SeaLevelPressureLowInches', 'VisibilityHighMiles',
                      'VisibilityAvgMiles', 'VisibilityLowMiles', 'WindHighMPH', 'WindAvgMPH', 
                      'WindGustMPH', 'PrecipitationSumInches']

In [15]:
austin[wrong_type_columns] = austin[wrong_type_columns].apply(pd.to_numeric, errors="coerce")

#### Check if your code has worked by printing the data types again. You should see only two `object` columns (`Date` and `Events`) now. All other columns should be `int64` or `float64`.

In [16]:
austin.dtypes

Date                           object
TempHighF                       int64
TempAvgF                        int64
TempLowF                        int64
DewPointHighF                 float64
DewPointAvgF                  float64
DewPointLowF                  float64
HumidityHighPercent           float64
HumidityAvgPercent            float64
HumidityLowPercent            float64
SeaLevelPressureHighInches    float64
SeaLevelPressureAvgInches     float64
SeaLevelPressureLowInches     float64
VisibilityHighMiles           float64
VisibilityAvgMiles            float64
VisibilityLowMiles            float64
WindHighMPH                   float64
WindAvgMPH                    float64
WindGustMPH                   float64
PrecipitationSumInches        float64
Events                         object
dtype: object

# Challenge 2 - Handle the Missing Data

#### Now that we have fixed the type mismatch, let's address the missing data.

By coercing the columns to numeric, we have created `NaN` for each cell containing characters. We should choose a strategy to address these missing data.

The first step is to examine how many rows contain missing data.

We check how much missing data we have by applying the `.isnull()` function to our dataset. To find the rows with missing data in any of its cells, we apply `.any(axis=1)` to the function. `austin.isnull().any(axis=1)` will return a column containing true if the row contains at least one missing value and false otherwise. Therefore we must subset our dataframe with this column. This will give us all rows with at least one missing value. 

#### In the next cell, identify all rows containing at least one missing value. Assign the dataframes with missing values to a variable called `missing_values`.

In [21]:
missing_values = austin[austin.isnull().any(axis=1)]

There are multiple strategies to handle missing data. Below lists the most common ones data scientists use:

* Removing all rows or all columns containing missing data. This is the simplest strategy. It may work in some cases but not others.

* Filling all missing values with a placeholder value. 
    * For categorical data, `0`, `-1`, and `9999` are some commonly used placeholder values. 
    * For continuous data, some may opt to fill all missing data with the mean. This strategy is not optimal since it can increase the fit of the model.

* Filling the values using some algorithm. 

#### In our case, we will use a hybrid approach which is to first remove the data that contain most missing values then fill in the rest of the missing values with the *linear interpolation* algorithm.

#### Next, count the number of rows of `austin` and `missing_values`.

In [24]:
missing_values.count()

Date                          136
TempHighF                     136
TempAvgF                      136
TempLowF                      136
DewPointHighF                 129
DewPointAvgF                  129
DewPointLowF                  129
HumidityHighPercent           134
HumidityAvgPercent            134
HumidityLowPercent            134
SeaLevelPressureHighInches    133
SeaLevelPressureAvgInches     133
SeaLevelPressureLowInches     133
VisibilityHighMiles           124
VisibilityAvgMiles            124
VisibilityLowMiles            124
WindHighMPH                   134
WindAvgMPH                    134
WindGustMPH                   132
PrecipitationSumInches         12
Events                        136
dtype: int64

#### Calculate the ratio of missing rows to total rows

In [29]:
austin.count()

Date                          1319
TempHighF                     1319
TempAvgF                      1319
TempLowF                      1319
DewPointHighF                 1312
DewPointAvgF                  1312
DewPointLowF                  1312
HumidityHighPercent           1317
HumidityAvgPercent            1317
HumidityLowPercent            1317
SeaLevelPressureHighInches    1316
SeaLevelPressureAvgInches     1316
SeaLevelPressureLowInches     1316
VisibilityHighMiles           1307
VisibilityAvgMiles            1307
VisibilityLowMiles            1307
WindHighMPH                   1317
WindAvgMPH                    1317
WindGustMPH                   1315
PrecipitationSumInches        1195
Events                        1319
dtype: int64

In [30]:
len(austin)

1319

In [31]:
missing_values.count()/austin.count() * 100

Date                          10.310842
TempHighF                     10.310842
TempAvgF                      10.310842
TempLowF                      10.310842
DewPointHighF                  9.832317
DewPointAvgF                   9.832317
DewPointLowF                   9.832317
HumidityHighPercent           10.174639
HumidityAvgPercent            10.174639
HumidityLowPercent            10.174639
SeaLevelPressureHighInches    10.106383
SeaLevelPressureAvgInches     10.106383
SeaLevelPressureLowInches     10.106383
VisibilityHighMiles            9.487376
VisibilityAvgMiles             9.487376
VisibilityLowMiles             9.487376
WindHighMPH                   10.174639
WindAvgMPH                    10.174639
WindGustMPH                   10.038023
PrecipitationSumInches         1.004184
Events                        10.310842
dtype: float64

As you can see, there is a large proportion of missing data (over 10%). Perhaps we should evaluate which columns have the most missing data and remove those columns. For the remaining columns, we will perform a linear approximation of the missing data.

We can find the number of missing rows in each column using the `.isna()` function. We then chain the `.sum` function to the `.isna()` function and find the number of missing rows per column

In [33]:
austin.isna().sum()

Date                            0
TempHighF                       0
TempAvgF                        0
TempLowF                        0
DewPointHighF                   7
DewPointAvgF                    7
DewPointLowF                    7
HumidityHighPercent             2
HumidityAvgPercent              2
HumidityLowPercent              2
SeaLevelPressureHighInches      3
SeaLevelPressureAvgInches       3
SeaLevelPressureLowInches       3
VisibilityHighMiles            12
VisibilityAvgMiles             12
VisibilityLowMiles             12
WindHighMPH                     2
WindAvgMPH                      2
WindGustMPH                     4
PrecipitationSumInches        124
Events                          0
dtype: int64

#### As you can see from the output, the majority of missing data is in one column called `PrecipitationSumInches`. What's the number of missing values in this column in ratio to its total number of rows?

In [36]:
austin["PrecipitationSumInches"].isna().sum()/austin["PrecipitationSumInches"].count() *100

10.376569037656903

Over 10% data missing! Therefore, we prefer to remove this column instead of filling its missing values. It doesn't make sense to *guess* its missing values because the estimation will be too 

#### Remove this column from `austin` using the `.drop()` function. Use the `inplace=True` argument.

*Hints:*

* By supplying `inplace=True` to `drop()`, the original dataframe object will be changed in place and the function will return `None`. In contrast, if you don't supply `inplace=True`, which is equivalent to supplying `inplace=False` because `False` is the default value, the original dataframe object will be kept and the function returns a copy of the transformed dataframe object. In the latter case, you'll have to assign the returned object back to your variable.

* Also, since you are dropping a column instead of a row, you'll need to supply `axis=1` to `drop()`.

[Reference for `pandas.DataFrame.drop`](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.drop.html)

In [40]:
# Your code here 
austin.drop("PrecipitationSumInches", axis=1, inplace=True)

In [41]:
# Print `austin` to confirm the column is indeed removed
austin

,Date,TempHighF,TempAvgF,TempLowF,DewPointHighF,DewPointAvgF,DewPointLowF,HumidityHighPercent,HumidityAvgPercent,HumidityLowPercent,SeaLevelPressureHighInches,SeaLevelPressureAvgInches,SeaLevelPressureLowInches,VisibilityHighMiles,VisibilityAvgMiles,VisibilityLowMiles,WindHighMPH,WindAvgMPH,WindGustMPH,Events
0,2013-12-21,74,60,45,67.0,49.0,43.0,93.0,75.0,57.0,29.86,29.68,29.59,10.0,7.0,2.0,20.0,4.0,31.0,"Rain , Thunderstorm"
1,2013-12-22,56,48,39,43.0,36.0,28.0,93.0,68.0,43.0,30.41,30.13,29.87,10.0,10.0,5.0,16.0,6.0,25.0,
2,2013-12-23,58,45,32,31.0,27.0,23.0,76.0,52.0,27.0,30.56,30.49,30.41,10.0,10.0,10.0,8.0,3.0,12.0,
3,2013-12-24,61,46,31,36.0,28.0,21.0,89.0,56.0,22.0,30.56,30.45,30.30,10.0,10.0,7.0,12.0,4.0,20.0,
4,2013-12-25,58,50,41,44.0,40.0,36.0,86.0,71.0,56.0,30.41,30.33,30.27,10.0,10.0,7.0,10.0,2.0,16.0,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1314,2017-07-27,103,89,75,71.0,67.0,61.0,82.0,54.0,25.0,30.04,29.97,29.88,10.0,10.0,10.0,12.0,5.0,21.0,
1315,2017-07-28,105,91,76,71.0,64.0,55.0,87.0,54.0,20.0,29.97,29.90,29.81,10.0,10.0,10.0,14.0,5.0,20.0,
1316,2017-07-29,107,92,77,72.0,64.0,55.0,82.0,51.0,19.0,29.91,29.86,29.79,10.0,10.0,10.0,12.0,4.0,17.0,
1317,2017-07-30,106,93,79,70.0,68.0,63.0,69.0,48.0,27.0,29.96,29.91,29.87,10.0,10.0,10.0,13.0,4.0,20.0,
1318,2017-07-31,99,88,77,66.0,61.0,54.0,64.0,43.0,22.0,30.04,29.97,29.91,10.0,10.0,10.0,12.0,4.0,20.0,

In [47]:
austin[150:200]

,Date,TempHighF,TempAvgF,TempLowF,DewPointHighF,DewPointAvgF,DewPointLowF,HumidityHighPercent,HumidityAvgPercent,HumidityLowPercent,SeaLevelPressureHighInches,SeaLevelPressureAvgInches,SeaLevelPressureLowInches,VisibilityHighMiles,VisibilityAvgMiles,VisibilityLowMiles,WindHighMPH,WindAvgMPH,WindGustMPH,Events
150,2014-05-20,89,78,67,65.0,62.0,59.0,84.0,63.0,42.0,30.08,30.01,29.96,10.0,10.0,10.0,14.0,9.0,26.0,
151,2014-05-21,89,80,70,66.0,64.0,61.0,84.0,61.0,38.0,30.10,30.02,29.96,10.0,10.0,10.0,16.0,8.0,27.0,
152,2014-05-22,87,79,70,68.0,65.0,61.0,90.0,70.0,50.0,30.11,30.05,29.96,10.0,10.0,7.0,15.0,7.0,25.0,
153,2014-05-23,84,78,71,71.0,67.0,62.0,84.0,69.0,54.0,30.09,30.03,29.96,10.0,8.0,0.0,14.0,6.0,20.0,"Fog , Rain"
154,2014-05-24,86,78,70,70.0,68.0,66.0,97.0,79.0,61.0,30.06,29.99,29.89,10.0,9.0,7.0,15.0,7.0,23.0,
155,2014-05-25,87,80,72,67.0,66.0,63.0,84.0,66.0,48.0,30.07,29.98,29.89,10.0,10.0,10.0,15.0,6.0,24.0,Thunderstorm
156,2014-05-26,75,70,64,70.0,65.0,61.0,93.0,83.0,73.0,30.09,30.00,29.94,10.0,8.0,1.0,17.0,5.0,29.0,"Rain , Thunderstorm"
157,2014-05-27,73,68,63,67.0,64.0,61.0,93.0,86.0,79.0,30.03,29.95,29.86,10.0,6.0,0.0,22.0,3.0,31.0,"Fog , Rain , Thunderstorm"
158,2014-05-28,84,76,68,68.0,66.0,62.0,97.0,74.0,51.0,29.94,29.88,29.83,10.0,7.0,2.0,14.0,4.0,22.0,
159,2014-05-29,89,78,66,65.0,63.0,61.0,93.0,66.0,38.0,29.89,29.85,29.79,10.0,10.0,10.0,9.0,2.0,15.0,
160,2014-05-30,94,81,68,67.0,65.0,60.0,84.0,60.0,36.0,29.86,29.82,29.78,10.0,10.0,10.0,9.0,3.0,17.0,
161,2014-05-31,93,82,70,69.0,67.0,65.0,84.0,63.0,41.0,29.89,29.85,29.82,10.0,10.0,10.0,10.0,3.0,20.0,
162,2014-06-01,88,80,71,71.0,69.0,63.0,93.0,69.0,45.0,29.97,29.90,29.83,10.0,8.0,2.0,14.0,4.0,20.0,
163,2014-06-02,91,83,74,71.0,69.0,67.0,87.0,67.0,47.0,29.97,29.91,29.86,10.0,10.0,8.0,13.0,7.0,22.0,
164,2014-06-03,90,83,75,72.0,70.0,68.0,82.0,67.0,52.0,30.03,29.96,29.88,10.0,10.0,10.0,10.0,6.0,17.0,
165,2014-06-04,91,83,74,71.0,70.0,68.0,87.0,70.0,52.0,29.93,29.86,29.79,10.0,10.0,10.0,12.0,7.0,21.0,
166,2014-06-05,91,83,74,72.0,70.0,68.0,87.0,72.0,56.0,29.87,29.82,29.78,10.0,10.0,10.0,14.0,7.0,22.0,
167,2014-06-06,92,83,73,71.0,70.0,69.0,87.0,70.0,52.0,29.97,29.88,29.83,10.0,10.0,9.0,14.0,7.0,25.0,
168,2014-06-07,92,83,74,72.0,70.0,67.0,93.0,71.0,49.0,29.97,29.89,29.81,10.0,10.0,10.0,14.0,7.0,26.0,
169,2014-06-08,90,83,76,72.0,70.0,64.0,87.0,67.0,46.0,29.99,29.88,29.76,10.0,10.0,5.0,16.0,7.0,27.0,Rain
170,2014-06-09,86,77,68,75.0,71.0,66.0,91.0,78.0,65.0,29.92,29.81,29.75,10.0,8.0,1.0,14.0,4.0,22.0,"Rain , Thunderstorm"
171,2014-06-10,92,78,64,70.0,61.0,56.0,97.0,64.0,30.0,29.90,29.85,29.81,10.0,10.0,9.0,13.0,3.0,20.0,
172,2014-06-11,94,80,66,73.0,66.0,62.0,87.0,64.0,41.0,29.89,29.83,29.74,10.0,10.0,10.0,14.0,5.0,21.0,
173,2014-06-12,92,80,68,74.0,72.0,67.0,79.0,68.0,56.0,29.98,29.82,29.71,10.0,9.0,1.0,24.0,8.0,47.0,"Rain , Thunderstorm"
174,2014-06-13,89,79,68,NaN,NaN,NaN,95.0,75.0,55.0,30.01,29.95,29.87,NaN,NaN,NaN,15.0,4.0,22.0,
175,2014-06-14,87,92,73,NaN,NaN,NaN,95.0,77.0,59.0,29.99,29.93,29.84,NaN,NaN,NaN,15.0,6.0,22.0,
176,2014-06-15,91,83,74,NaN,NaN,NaN,NaN,NaN,NaN,29.98,29.90,29.87,NaN,NaN,NaN,14.0,9.0,23.0,
177,2014-06-16,92,84,75,NaN,NaN,NaN,94.0,72.0,49.0,30.05,29.99,29.93,NaN,NaN,NaN,12.0,8.0,24.0,
178,2014-06-17,92,84,75,72.0,69.0,66.0,88.0,69.0,49.0,30.04,29.99,29.92,10.0,10.0,10.0,12.0,9.0,22.0,
179,2014-06-18,92,85,77,75.0,72.0,67.0,91.0,68.0,44.0,30.03,29.96,29.88,10.0,9.0,4.0,16.0,9.0,26.0,Rain
180,2014-06-19,91,84,76,74.0,71.0,66.0,88.0,68.0,47.0,30.05,30.00,29.94,10.0,10.0,10.0,13.0,6.0,22.0,
181,2014-06-20,91,83,75,73.0,71.0,67.0,88.0,69.0,50.0,30.11,30.04,29.96,10.0,10.0,9.0,13.0,5.0,19.0,
182,2014-06-21,92,84,75,74.0,72.0,68.0,94.0,72.0,49.0,30.07,29.99,29.87,10.0,10.0,8.0,15.0,6.0,21.0,
183,2014-06-22,90,83,76,74.0,72.0,68.0,85.0,70.0,55.0,29.96,29.90,29.82,10.0,9.0,8.0,13.0,8.0,22.0,
184,2014-06-23,88,78,68,75.0,72.0,66.0,88.0,75.0,61.0,30.04,29.93,29.83,10.0,8.0,1.0,16.0,4.0,26.0,"Rain , Thunderstorm"
185,2014-06-24,93,84,74,74.0,72.0,69.0,94.0,72.0,49.0,30.05,30.00,29.94,10.0,9.0,0.0,22.0,4.0,35.0,"Fog , Rain , Thunderstorm"
186,2014-06-25,89,80,71,76.0,72.0,68.0,94.0,77.0,59.0,30.07,30.01,29.92,10.0,8.0,0.0,16.0,5.0,24.0,"Fog , Rain , Thunderstorm"
187,2014-06-26,88,80,71,75.0,71.0,69.0,94.0,76.0,57.0,30.02,29.95,29.85,10.0,10.0,6.0,15.0,7.0,24.0,Rain
188,2014-06-27,91,83,75,74.0,72.0,70.0,88.0,69.0,49.0,29.93,29.87,29.79,10.0,10.0,8.0,17.0,8.0,32.0,
189,2014-06-28,93,86,78,74.0,73.0,71.0,85.0,69.0,52.0,29.97,29.88,29.83,10.0,10.0,8.0,16.0,9.0,27.0,
190,2014-06-29,95,86,77,74.0,73.0,70.0,88.0,69.0,49.0,30.04,29.97,29.91,10.0,9.0,7.0,17.0,9.0,27.0,
191,2014-06-30,96,87,77,74.0,71.0,67.0,88.0,64.0,39.0,30.03,29.94,29.86,10.0,9.0,7.0,17.0,8.0,27.0,
192,2014-07-01,96,86,75,73.0,70.0,66.0,88.0,64.0,39.0,29.98,29.92,29.87,10.0,10.0,7.0,15.0,6.0,22.0,
193,2014-07-02,97,85,73,73.0,69.0,64.0,93.0,64.0,35.0,30.06,30.00,29.96,10.0,10.0,6.0,14.0,4.0,18.0,
194,2014-07-03,96,84,72,71.0,69.0,61.0,93.0,62.0,30.0,30.13,30.08,30.01,10.0,10.0,6.0,20.0,3.0,29.0,"Rain , Thunderstorm"
195,2014-07-04,93,82,71,70.0,68.0,59.0,93.0,67.0,41.0,30.22,30.15,30.10,10.0,10.0,9.0,16.0,4.0,23.0,Thunderstorm
196,2014-07-05,94,82,69,71.0,69.0,67.0,93.0,70.0,46.0,30.19,30.12,30.05,10.0,10.0,5.0,18.0,4.0,30.0,
197,2014-07-06,95,84,72,73.0,70.0,66.0,100.0,72.0,44.0,30.10,30.03,29.91,10.0,8.0,3.0,13.0,5.0,20.0,
198,2014-07-07,96,85,73,70.0,67.0,63.0,87.0,61.0,34.0,30.01,29.97,29.91,10.0,10.0,10.0,13.0,5.0,19.0,
199,2014-07-08,98,86,74,73.0,68.0,61.0,93.0,63.0,33.0,30.04,29.99,29.95,10.0,10.0,10.0,13.0,7.0,21.0,

In [48]:
austin_fixed[150:200]

,Date,TempHighF,TempAvgF,TempLowF,DewPointHighF,DewPointAvgF,DewPointLowF,HumidityHighPercent,HumidityAvgPercent,HumidityLowPercent,SeaLevelPressureHighInches,SeaLevelPressureAvgInches,SeaLevelPressureLowInches,VisibilityHighMiles,VisibilityAvgMiles,VisibilityLowMiles,WindHighMPH,WindAvgMPH,WindGustMPH,Events
150,2014-05-20,89,78,67,65.0,62.0,59.0,84.0,63.0,42.0,30.08,30.01,29.96,10.0,10.0,10.0,14.0,9.0,26.0,
151,2014-05-21,89,80,70,66.0,64.0,61.0,84.0,61.0,38.0,30.10,30.02,29.96,10.0,10.0,10.0,16.0,8.0,27.0,
152,2014-05-22,87,79,70,68.0,65.0,61.0,90.0,70.0,50.0,30.11,30.05,29.96,10.0,10.0,7.0,15.0,7.0,25.0,
153,2014-05-23,84,78,71,71.0,67.0,62.0,84.0,69.0,54.0,30.09,30.03,29.96,10.0,8.0,0.0,14.0,6.0,20.0,"Fog , Rain"
154,2014-05-24,86,78,70,70.0,68.0,66.0,97.0,79.0,61.0,30.06,29.99,29.89,10.0,9.0,7.0,15.0,7.0,23.0,
155,2014-05-25,87,80,72,67.0,66.0,63.0,84.0,66.0,48.0,30.07,29.98,29.89,10.0,10.0,10.0,15.0,6.0,24.0,Thunderstorm
156,2014-05-26,75,70,64,70.0,65.0,61.0,93.0,83.0,73.0,30.09,30.00,29.94,10.0,8.0,1.0,17.0,5.0,29.0,"Rain , Thunderstorm"
157,2014-05-27,73,68,63,67.0,64.0,61.0,93.0,86.0,79.0,30.03,29.95,29.86,10.0,6.0,0.0,22.0,3.0,31.0,"Fog , Rain , Thunderstorm"
158,2014-05-28,84,76,68,68.0,66.0,62.0,97.0,74.0,51.0,29.94,29.88,29.83,10.0,7.0,2.0,14.0,4.0,22.0,
159,2014-05-29,89,78,66,65.0,63.0,61.0,93.0,66.0,38.0,29.89,29.85,29.79,10.0,10.0,10.0,9.0,2.0,15.0,
160,2014-05-30,94,81,68,67.0,65.0,60.0,84.0,60.0,36.0,29.86,29.82,29.78,10.0,10.0,10.0,9.0,3.0,17.0,
161,2014-05-31,93,82,70,69.0,67.0,65.0,84.0,63.0,41.0,29.89,29.85,29.82,10.0,10.0,10.0,10.0,3.0,20.0,
162,2014-06-01,88,80,71,71.0,69.0,63.0,93.0,69.0,45.0,29.97,29.90,29.83,10.0,8.0,2.0,14.0,4.0,20.0,
163,2014-06-02,91,83,74,71.0,69.0,67.0,87.0,67.0,47.0,29.97,29.91,29.86,10.0,10.0,8.0,13.0,7.0,22.0,
164,2014-06-03,90,83,75,72.0,70.0,68.0,82.0,67.0,52.0,30.03,29.96,29.88,10.0,10.0,10.0,10.0,6.0,17.0,
165,2014-06-04,91,83,74,71.0,70.0,68.0,87.0,70.0,52.0,29.93,29.86,29.79,10.0,10.0,10.0,12.0,7.0,21.0,
166,2014-06-05,91,83,74,72.0,70.0,68.0,87.0,72.0,56.0,29.87,29.82,29.78,10.0,10.0,10.0,14.0,7.0,22.0,
167,2014-06-06,92,83,73,71.0,70.0,69.0,87.0,70.0,52.0,29.97,29.88,29.83,10.0,10.0,9.0,14.0,7.0,25.0,
168,2014-06-07,92,83,74,72.0,70.0,67.0,93.0,71.0,49.0,29.97,29.89,29.81,10.0,10.0,10.0,14.0,7.0,26.0,
169,2014-06-08,90,83,76,72.0,70.0,64.0,87.0,67.0,46.0,29.99,29.88,29.76,10.0,10.0,5.0,16.0,7.0,27.0,Rain
170,2014-06-09,86,77,68,75.0,71.0,66.0,91.0,78.0,65.0,29.92,29.81,29.75,10.0,8.0,1.0,14.0,4.0,22.0,"Rain , Thunderstorm"
171,2014-06-10,92,78,64,70.0,61.0,56.0,97.0,64.0,30.0,29.90,29.85,29.81,10.0,10.0,9.0,13.0,3.0,20.0,
172,2014-06-11,94,80,66,73.0,66.0,62.0,87.0,64.0,41.0,29.89,29.83,29.74,10.0,10.0,10.0,14.0,5.0,21.0,
173,2014-06-12,92,80,68,74.0,72.0,67.0,79.0,68.0,56.0,29.98,29.82,29.71,10.0,9.0,1.0,24.0,8.0,47.0,"Rain , Thunderstorm"
174,2014-06-13,89,79,68,73.6,71.4,66.8,95.0,75.0,55.0,30.01,29.95,29.87,10.0,9.2,2.8,15.0,4.0,22.0,
175,2014-06-14,87,92,73,73.2,70.8,66.6,95.0,77.0,59.0,29.99,29.93,29.84,10.0,9.4,4.6,15.0,6.0,22.0,
176,2014-06-15,91,83,74,72.8,70.2,66.4,94.5,74.5,54.0,29.98,29.90,29.87,10.0,9.6,6.4,14.0,9.0,23.0,
177,2014-06-16,92,84,75,72.4,69.6,66.2,94.0,72.0,49.0,30.05,29.99,29.93,10.0,9.8,8.2,12.0,8.0,24.0,
178,2014-06-17,92,84,75,72.0,69.0,66.0,88.0,69.0,49.0,30.04,29.99,29.92,10.0,10.0,10.0,12.0,9.0,22.0,
179,2014-06-18,92,85,77,75.0,72.0,67.0,91.0,68.0,44.0,30.03,29.96,29.88,10.0,9.0,4.0,16.0,9.0,26.0,Rain
180,2014-06-19,91,84,76,74.0,71.0,66.0,88.0,68.0,47.0,30.05,30.00,29.94,10.0,10.0,10.0,13.0,6.0,22.0,
181,2014-06-20,91,83,75,73.0,71.0,67.0,88.0,69.0,50.0,30.11,30.04,29.96,10.0,10.0,9.0,13.0,5.0,19.0,
182,2014-06-21,92,84,75,74.0,72.0,68.0,94.0,72.0,49.0,30.07,29.99,29.87,10.0,10.0,8.0,15.0,6.0,21.0,
183,2014-06-22,90,83,76,74.0,72.0,68.0,85.0,70.0,55.0,29.96,29.90,29.82,10.0,9.0,8.0,13.0,8.0,22.0,
184,2014-06-23,88,78,68,75.0,72.0,66.0,88.0,75.0,61.0,30.04,29.93,29.83,10.0,8.0,1.0,16.0,4.0,26.0,"Rain , Thunderstorm"
185,2014-06-24,93,84,74,74.0,72.0,69.0,94.0,72.0,49.0,30.05,30.00,29.94,10.0,9.0,0.0,22.0,4.0,35.0,"Fog , Rain , Thunderstorm"
186,2014-06-25,89,80,71,76.0,72.0,68.0,94.0,77.0,59.0,30.07,30.01,29.92,10.0,8.0,0.0,16.0,5.0,24.0,"Fog , Rain , Thunderstorm"
187,2014-06-26,88,80,71,75.0,71.0,69.0,94.0,76.0,57.0,30.02,29.95,29.85,10.0,10.0,6.0,15.0,7.0,24.0,Rain
188,2014-06-27,91,83,75,74.0,72.0,70.0,88.0,69.0,49.0,29.93,29.87,29.79,10.0,10.0,8.0,17.0,8.0,32.0,
189,2014-06-28,93,86,78,74.0,73.0,71.0,85.0,69.0,52.0,29.97,29.88,29.83,10.0,10.0,8.0,16.0,9.0,27.0,
190,2014-06-29,95,86,77,74.0,73.0,70.0,88.0,69.0,49.0,30.04,29.97,29.91,10.0,9.0,7.0,17.0,9.0,27.0,
191,2014-06-30,96,87,77,74.0,71.0,67.0,88.0,64.0,39.0,30.03,29.94,29.86,10.0,9.0,7.0,17.0,8.0,27.0,
192,2014-07-01,96,86,75,73.0,70.0,66.0,88.0,64.0,39.0,29.98,29.92,29.87,10.0,10.0,7.0,15.0,6.0,22.0,
193,2014-07-02,97,85,73,73.0,69.0,64.0,93.0,64.0,35.0,30.06,30.00,29.96,10.0,10.0,6.0,14.0,4.0,18.0,
194,2014-07-03,96,84,72,71.0,69.0,61.0,93.0,62.0,30.0,30.13,30.08,30.01,10.0,10.0,6.0,20.0,3.0,29.0,"Rain , Thunderstorm"
195,2014-07-04,93,82,71,70.0,68.0,59.0,93.0,67.0,41.0,30.22,30.15,30.10,10.0,10.0,9.0,16.0,4.0,23.0,Thunderstorm
196,2014-07-05,94,82,69,71.0,69.0,67.0,93.0,70.0,46.0,30.19,30.12,30.05,10.0,10.0,5.0,18.0,4.0,30.0,
197,2014-07-06,95,84,72,73.0,70.0,66.0,100.0,72.0,44.0,30.10,30.03,29.91,10.0,8.0,3.0,13.0,5.0,20.0,
198,2014-07-07,96,85,73,70.0,67.0,63.0,87.0,61.0,34.0,30.01,29.97,29.91,10.0,10.0,10.0,13.0,5.0,19.0,
199,2014-07-08,98,86,74,73.0,68.0,61.0,93.0,63.0,33.0,30.04,29.99,29.95,10.0,10.0,10.0,13.0,7.0,21.0,

#### Next we will perform linear interpolation of the missing data.

This means that we will use a linear algorithm to estimate the missing data. Linear interpolation assumes that there is a straight line between the points and the missing point will fall on that line. This is a good enough approximation for weather related data. Weather related data is typically a time series. Therefore, we do not want to drop rows from our data if possible. It is prefereable to estimate the missing values rather than remove the rows. However, if you have data from a single point in time, perhaps a better solution would be to remove the rows. 

If you would like to read more about linear interpolation, you can do so [here](https://en.wikipedia.org/wiki/Linear_interpolation).

In the following cell, use the `.interpolate()` function on the entire dataframe. This time pass the `inplace=False` argument to the function and assign the interpolated dataframe to a new variable called `austin_fixed` so that we can compare with `austin`.

In [42]:
austin_fixed = austin.interpolate()

#### Check to make sure `austin_fixed` contains no missing data. Also check `austin` - it still contains missing data.

In [44]:
austin.isna().sum()

Date                           0
TempHighF                      0
TempAvgF                       0
TempLowF                       0
DewPointHighF                  7
DewPointAvgF                   7
DewPointLowF                   7
HumidityHighPercent            2
HumidityAvgPercent             2
HumidityLowPercent             2
SeaLevelPressureHighInches     3
SeaLevelPressureAvgInches      3
SeaLevelPressureLowInches      3
VisibilityHighMiles           12
VisibilityAvgMiles            12
VisibilityLowMiles            12
WindHighMPH                    2
WindAvgMPH                     2
WindGustMPH                    4
Events                         0
dtype: int64

In [43]:
austin_fixed.isna().sum()

Date                          0
TempHighF                     0
TempAvgF                      0
TempLowF                      0
DewPointHighF                 0
DewPointAvgF                  0
DewPointLowF                  0
HumidityHighPercent           0
HumidityAvgPercent            0
HumidityLowPercent            0
SeaLevelPressureHighInches    0
SeaLevelPressureAvgInches     0
SeaLevelPressureLowInches     0
VisibilityHighMiles           0
VisibilityAvgMiles            0
VisibilityLowMiles            0
WindHighMPH                   0
WindAvgMPH                    0
WindGustMPH                   0
Events                        0
dtype: int64

# Challenge 3 - Processing the `Events` Column

#### Our dataframe contains one true text column - the Events column. We should evaluate this column to determine how to process it.

Use the `value_counts()` function to evaluate the contents of this column

In [49]:
austin_fixed["Events"].value_counts()

                             903
Rain                         192
Rain , Thunderstorm          137
Fog , Rain , Thunderstorm     33
Fog                           21
Thunderstorm                  17
Fog , Rain                    14
Fog , Thunderstorm             1
Rain , Snow                    1
Name: Events, dtype: int64

Reading the values of `Events` and reflecting what those values mean in the context of data, you realize this column indicates what weather events had happened in a particular day.

#### What is the largest number of events happened in a single day? Enter your answer in the next cell.

In [ ]:
# 33 days

#### We want to transform the string-type `Events` values to the numbers. This will allow us to apply machine learning algorithms easily.

How? We will create a new column for each type of events (i.e. *Rain*, *Snow*, *Fog*, *Thunderstorm*. In each column, we use `1` to indicate if the corresponding event happened in that day and use `0` otherwise.

Below we provide you a list of all event types. Loop the list and create a dummy column with `0` values for each event in `austin_fixed`. To create a new dummy column with `0` values, simply use `austin_fixed[event] = 0`.

In [50]:
event_list = ['Snow', 'Fog', 'Rain', 'Thunderstorm']

# Your code here
for i in event_list:
    austin_fixed[i] = 0

# Print your new dataframe to check whether new columns have been created:
austin_fixed

,Date,TempHighF,TempAvgF,TempLowF,DewPointHighF,DewPointAvgF,DewPointLowF,HumidityHighPercent,HumidityAvgPercent,HumidityLowPercent,...,VisibilityAvgMiles,VisibilityLowMiles,WindHighMPH,WindAvgMPH,WindGustMPH,Events,Snow,Fog,Rain,Thunderstorm
0,2013-12-21,74,60,45,67.0,49.0,43.0,93.0,75.0,57.0,...,7.0,2.0,20.0,4.0,31.0,"Rain , Thunderstorm",0,0,0,0
1,2013-12-22,56,48,39,43.0,36.0,28.0,93.0,68.0,43.0,...,10.0,5.0,16.0,6.0,25.0,,0,0,0,0
2,2013-12-23,58,45,32,31.0,27.0,23.0,76.0,52.0,27.0,...,10.0,10.0,8.0,3.0,12.0,,0,0,0,0
3,2013-12-24,61,46,31,36.0,28.0,21.0,89.0,56.0,22.0,...,10.0,7.0,12.0,4.0,20.0,,0,0,0,0
4,2013-12-25,58,50,41,44.0,40.0,36.0,86.0,71.0,56.0,...,10.0,7.0,10.0,2.0,16.0,,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1314,2017-07-27,103,89,75,71.0,67.0,61.0,82.0,54.0,25.0,...,10.0,10.0,12.0,5.0,21.0,,0,0,0,0
1315,2017-07-28,105,91,76,71.0,64.0,55.0,87.0,54.0,20.0,...,10.0,10.0,14.0,5.0,20.0,,0,0,0,0
1316,2017-07-29,107,92,77,72.0,64.0,55.0,82.0,51.0,19.0,...,10.0,10.0,12.0,4.0,17.0,,0,0,0,0
1317,2017-07-30,106,93,79,70.0,68.0,63.0,69.0,48.0,27.0,...,10.0,10.0,13.0,4.0,20.0,,0,0,0,0
1318,2017-07-31,99,88,77,66.0,61.0,54.0,64.0,43.0,22.0,...,10.0,10.0,12.0,4.0,20.0,,0,0,0,0

#### Next, populate the actual values in the dummy columns of  `austin_fixed`.

You will check the *Events* column. If its string value contains `Rain`, then the *Rain* column should be `1`. The same for `Snow`, `Fog`, and `Thunderstorm`.

*Hints:*

* Use [`pandas.Series.str.contains()`](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.str.contains.html) to create the value series of each new column.

* What if the values you populated are booleans instead of numbers? You can cast the boolean values to numbers by using `.astype(int)`. For instance, `pd.Series([True, True, False]).astype(int)` will return a new series with values of `[1, 1, 0]`.

In [61]:
austin_fixed

,Date,TempHighF,TempAvgF,TempLowF,DewPointHighF,DewPointAvgF,DewPointLowF,HumidityHighPercent,HumidityAvgPercent,HumidityLowPercent,...,VisibilityAvgMiles,VisibilityLowMiles,WindHighMPH,WindAvgMPH,WindGustMPH,Events,Snow,Fog,Rain,Thunderstorm
0,2013-12-21,74,60,45,67.0,49.0,43.0,93.0,75.0,57.0,...,7.0,2.0,20.0,4.0,31.0,"Rain , Thunderstorm",0,0,0,True
1,2013-12-22,56,48,39,43.0,36.0,28.0,93.0,68.0,43.0,...,10.0,5.0,16.0,6.0,25.0,,0,0,0,False
2,2013-12-23,58,45,32,31.0,27.0,23.0,76.0,52.0,27.0,...,10.0,10.0,8.0,3.0,12.0,,0,0,0,False
3,2013-12-24,61,46,31,36.0,28.0,21.0,89.0,56.0,22.0,...,10.0,7.0,12.0,4.0,20.0,,0,0,0,False
4,2013-12-25,58,50,41,44.0,40.0,36.0,86.0,71.0,56.0,...,10.0,7.0,10.0,2.0,16.0,,0,0,0,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1314,2017-07-27,103,89,75,71.0,67.0,61.0,82.0,54.0,25.0,...,10.0,10.0,12.0,5.0,21.0,,0,0,0,False
1315,2017-07-28,105,91,76,71.0,64.0,55.0,87.0,54.0,20.0,...,10.0,10.0,14.0,5.0,20.0,,0,0,0,False
1316,2017-07-29,107,92,77,72.0,64.0,55.0,82.0,51.0,19.0,...,10.0,10.0,12.0,4.0,17.0,,0,0,0,False
1317,2017-07-30,106,93,79,70.0,68.0,63.0,69.0,48.0,27.0,...,10.0,10.0,13.0,4.0,20.0,,0,0,0,False
1318,2017-07-31,99,88,77,66.0,61.0,54.0,64.0,43.0,22.0,...,10.0,10.0,12.0,4.0,20.0,,0,0,0,False

In [62]:
for name in event_list:
    austin_fixed[name] = austin_fixed["Events"].str.contains(name)

In [63]:
austin_fixed

,Date,TempHighF,TempAvgF,TempLowF,DewPointHighF,DewPointAvgF,DewPointLowF,HumidityHighPercent,HumidityAvgPercent,HumidityLowPercent,...,VisibilityAvgMiles,VisibilityLowMiles,WindHighMPH,WindAvgMPH,WindGustMPH,Events,Snow,Fog,Rain,Thunderstorm
0,2013-12-21,74,60,45,67.0,49.0,43.0,93.0,75.0,57.0,...,7.0,2.0,20.0,4.0,31.0,"Rain , Thunderstorm",False,False,True,True
1,2013-12-22,56,48,39,43.0,36.0,28.0,93.0,68.0,43.0,...,10.0,5.0,16.0,6.0,25.0,,False,False,False,False
2,2013-12-23,58,45,32,31.0,27.0,23.0,76.0,52.0,27.0,...,10.0,10.0,8.0,3.0,12.0,,False,False,False,False
3,2013-12-24,61,46,31,36.0,28.0,21.0,89.0,56.0,22.0,...,10.0,7.0,12.0,4.0,20.0,,False,False,False,False
4,2013-12-25,58,50,41,44.0,40.0,36.0,86.0,71.0,56.0,...,10.0,7.0,10.0,2.0,16.0,,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1314,2017-07-27,103,89,75,71.0,67.0,61.0,82.0,54.0,25.0,...,10.0,10.0,12.0,5.0,21.0,,False,False,False,False
1315,2017-07-28,105,91,76,71.0,64.0,55.0,87.0,54.0,20.0,...,10.0,10.0,14.0,5.0,20.0,,False,False,False,False
1316,2017-07-29,107,92,77,72.0,64.0,55.0,82.0,51.0,19.0,...,10.0,10.0,12.0,4.0,17.0,,False,False,False,False
1317,2017-07-30,106,93,79,70.0,68.0,63.0,69.0,48.0,27.0,...,10.0,10.0,13.0,4.0,20.0,,False,False,False,False
1318,2017-07-31,99,88,77,66.0,61.0,54.0,64.0,43.0,22.0,...,10.0,10.0,12.0,4.0,20.0,,False,False,False,False

In [67]:
for name in event_list:
    austin_fixed[name] = austin_fixed[name].astype(int)

#### Print out `austin_fixed` to check if the event columns are populated with the intended values

In [68]:
austin_fixed

,Date,TempHighF,TempAvgF,TempLowF,DewPointHighF,DewPointAvgF,DewPointLowF,HumidityHighPercent,HumidityAvgPercent,HumidityLowPercent,...,VisibilityAvgMiles,VisibilityLowMiles,WindHighMPH,WindAvgMPH,WindGustMPH,Events,Snow,Fog,Rain,Thunderstorm
0,2013-12-21,74,60,45,67.0,49.0,43.0,93.0,75.0,57.0,...,7.0,2.0,20.0,4.0,31.0,"Rain , Thunderstorm",0,0,1,1
1,2013-12-22,56,48,39,43.0,36.0,28.0,93.0,68.0,43.0,...,10.0,5.0,16.0,6.0,25.0,,0,0,0,0
2,2013-12-23,58,45,32,31.0,27.0,23.0,76.0,52.0,27.0,...,10.0,10.0,8.0,3.0,12.0,,0,0,0,0
3,2013-12-24,61,46,31,36.0,28.0,21.0,89.0,56.0,22.0,...,10.0,7.0,12.0,4.0,20.0,,0,0,0,0
4,2013-12-25,58,50,41,44.0,40.0,36.0,86.0,71.0,56.0,...,10.0,7.0,10.0,2.0,16.0,,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1314,2017-07-27,103,89,75,71.0,67.0,61.0,82.0,54.0,25.0,...,10.0,10.0,12.0,5.0,21.0,,0,0,0,0
1315,2017-07-28,105,91,76,71.0,64.0,55.0,87.0,54.0,20.0,...,10.0,10.0,14.0,5.0,20.0,,0,0,0,0
1316,2017-07-29,107,92,77,72.0,64.0,55.0,82.0,51.0,19.0,...,10.0,10.0,12.0,4.0,17.0,,0,0,0,0
1317,2017-07-30,106,93,79,70.0,68.0,63.0,69.0,48.0,27.0,...,10.0,10.0,13.0,4.0,20.0,,0,0,0,0
1318,2017-07-31,99,88,77,66.0,61.0,54.0,64.0,43.0,22.0,...,10.0,10.0,12.0,4.0,20.0,,0,0,0,0

#### If your code worked correctly, now we can drop the `Events` column as we don't need it any more.

In [69]:
austin_fixed.drop("Events", axis=1, inplace=True)

In [70]:
austin_fixed.head()

,Date,TempHighF,TempAvgF,TempLowF,DewPointHighF,DewPointAvgF,DewPointLowF,HumidityHighPercent,HumidityAvgPercent,HumidityLowPercent,...,VisibilityHighMiles,VisibilityAvgMiles,VisibilityLowMiles,WindHighMPH,WindAvgMPH,WindGustMPH,Snow,Fog,Rain,Thunderstorm
0,2013-12-21,74,60,45,67.0,49.0,43.0,93.0,75.0,57.0,...,10.0,7.0,2.0,20.0,4.0,31.0,0,0,1,1
1,2013-12-22,56,48,39,43.0,36.0,28.0,93.0,68.0,43.0,...,10.0,10.0,5.0,16.0,6.0,25.0,0,0,0,0
2,2013-12-23,58,45,32,31.0,27.0,23.0,76.0,52.0,27.0,...,10.0,10.0,10.0,8.0,3.0,12.0,0,0,0,0
3,2013-12-24,61,46,31,36.0,28.0,21.0,89.0,56.0,22.0,...,10.0,10.0,7.0,12.0,4.0,20.0,0,0,0,0
4,2013-12-25,58,50,41,44.0,40.0,36.0,86.0,71.0,56.0,...,10.0,10.0,7.0,10.0,2.0,16.0,0,0,0,0

# Challenge 4 - Processing The `Date` Column

The `Date` column is another non-numeric field in our dataset. A value in that field looks like `'2014-01-06'` which consists of the year, month, and day connected with hyphens. One way to convert the date string to numerical is using a similar approach as we used for `Events`, namely splitting the column into numerical `Year`, `Month`, and `Day` columns. In this challenge we'll show you another way which is to use the Python `datetime` library's `toordinal()` function. Depending on what actual machine learning analysis you will conduct, each approach has its pros and cons. Our goal today is to practice data preparation so we'll skip the discussion here.

Here you can find the [reference](https://docs.python.org/3/library/datetime.html) and [example](https://stackoverflow.com/questions/39846918/convert-date-to-ordinal-python) for `toordinal`. The basic process is to first convert the string to a `datetime` object using `datetime.datetime.strptime`, then convert the `datetime` object to numerical using `toordinal`.

#### In the cell below, convert the `Date` column values from string to numeric values using `toordinal()`.

In [86]:
from datetime import datetime as dt

In [90]:
austin_fixed["Date"] = austin_fixed["Date"].apply(lambda day: dt.strptime(day, "%Y-%m-%d").toordinal())

In [91]:
austin_fixed["Date"]

0       735223
1       735224
2       735225
3       735226
4       735227
         ...
1314    736537
1315    736538
1316    736539
1317    736540
1318    736541
Name: Date, Length: 1319, dtype: int64

#### Print `austin_fixed` to check your `Date` column.

In [93]:
austin_fixed.head()

,Date,TempHighF,TempAvgF,TempLowF,DewPointHighF,DewPointAvgF,DewPointLowF,HumidityHighPercent,HumidityAvgPercent,HumidityLowPercent,...,VisibilityAvgMiles,VisibilityLowMiles,WindHighMPH,WindAvgMPH,WindGustMPH,Snow,Fog,Rain,Thunderstorm,Date2
0,735223,74,60,45,67.0,49.0,43.0,93.0,75.0,57.0,...,7.0,2.0,20.0,4.0,31.0,0,0,1,1,2017-07-31
1,735224,56,48,39,43.0,36.0,28.0,93.0,68.0,43.0,...,10.0,5.0,16.0,6.0,25.0,0,0,0,0,2017-07-31
2,735225,58,45,32,31.0,27.0,23.0,76.0,52.0,27.0,...,10.0,10.0,8.0,3.0,12.0,0,0,0,0,2017-07-31
3,735226,61,46,31,36.0,28.0,21.0,89.0,56.0,22.0,...,10.0,7.0,12.0,4.0,20.0,0,0,0,0,2017-07-31
4,735227,58,50,41,44.0,40.0,36.0,86.0,71.0,56.0,...,10.0,7.0,10.0,2.0,16.0,0,0,0,0,2017-07-31

# Challenge 5 - Sampling and Holdout Sets

#### Now that we have processed the data for machine learning, we will separate the data to test and training sets.

We first train the model using only the training set. We check our metrics on the training set. We then apply the model to the test set and check our metrics on the test set as well. If the metrics are significantly more optimal on the training set, then we know we have overfit our model. We will need to revise our model to ensure it will be more applicable to data outside the test set.

#### In the next cells we will separate the data into a training set and a test set using the `train_test_split()` function in scikit-learn.

When using `scikit-learn` for machine learning, we first separate the data to predictor and response variables. This is the standard way of passing datasets into a model in `scikit-learn`. The `scikit-learn` will then find out whether the predictors and responses fit the model.

In the next cell, assign the `TempAvgF` column to `y` and the remaining columns to `X`. Your `X` should be a subset of `austin_fixed` containing the following columns: 

```['Date',
 'TempHighF',
 'TempLowF',
 'DewPointHighF',
 'DewPointAvgF',
 'DewPointLowF',
 'HumidityHighPercent',
 'HumidityAvgPercent',
 'HumidityLowPercent',
 'SeaLevelPressureHighInches',
 'SeaLevelPressureAvgInches',
 'SeaLevelPressureLowInches',
 'VisibilityHighMiles',
 'VisibilityAvgMiles',
 'VisibilityLowMiles',
 'WindHighMPH',
 'WindAvgMPH',
 'WindGustMPH',
 'Snow',
 'Fog',
 'Rain',
 'Thunderstorm']```
 
 Your `y` should be a subset of `austin_fixed` containing one column `TempAvgF`.

In [95]:
X = austin_fixed[['Date',
 'TempHighF',
 'TempLowF',
 'DewPointHighF',
 'DewPointAvgF',
 'DewPointLowF',
 'HumidityHighPercent',
 'HumidityAvgPercent',
 'HumidityLowPercent',
 'SeaLevelPressureHighInches',
 'SeaLevelPressureAvgInches',
 'SeaLevelPressureLowInches',
 'VisibilityHighMiles',
 'VisibilityAvgMiles',
 'VisibilityLowMiles',
 'WindHighMPH',
 'WindAvgMPH',
 'WindGustMPH',
 'Snow',
 'Fog',
 'Rain',
 'Thunderstorm']]

y = austin_fixed["TempAvgF"]

In the next cell, import `train_test_split` from `sklearn.model_selection`

In [96]:
from sklearn.model_selection import train_test_split

Now that we have split the data to predictor and response variables and imported the `train_test_split()` function, split `X` and `y` into `X_train`, `X_test`, `y_train`, and `y_test`. 80% of the data should be in the training set and 20% in the test set. `train_test_split()` reference can be accessed [here](https://scikit-learn.org/stable/modules/generated/sklearn.model_selection.train_test_split.html).


Enter your code in the cell below:

In [97]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=8)

In [101]:
X_test

,Date,TempHighF,TempLowF,DewPointHighF,DewPointAvgF,DewPointLowF,HumidityHighPercent,HumidityAvgPercent,HumidityLowPercent,SeaLevelPressureHighInches,...,VisibilityHighMiles,VisibilityAvgMiles,VisibilityLowMiles,WindHighMPH,WindAvgMPH,WindGustMPH,Snow,Fog,Rain,Thunderstorm
176,735399,91,74,72.8,70.2,66.4,94.5,74.5,54.0,29.98,...,10.0,9.6,6.4,14.0,9.0,23.0,0,0,0,0
814,736037,92,54,63.0,50.0,41.0,73.0,48.0,23.0,29.87,...,10.0,10.0,10.0,14.0,5.0,26.0,0,0,0,0
916,736139,93,75,74.0,73.0,71.0,94.0,73.0,52.0,30.10,...,10.0,10.0,10.0,13.0,6.0,20.0,0,0,0,0
673,735896,64,57,58.0,57.0,55.0,100.0,89.0,78.0,30.07,...,10.0,8.0,3.0,17.0,9.0,31.0,0,0,1,0
671,735894,80,71,76.0,73.0,69.0,100.0,91.0,82.0,29.94,...,10.0,7.0,1.0,21.0,6.0,32.0,0,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1014,736237,83,60,55.0,52.0,50.0,73.0,54.0,34.0,30.22,...,10.0,10.0,10.0,8.0,2.0,12.0,0,0,0,0
894,736117,84,68,72.0,69.0,63.0,100.0,76.0,51.0,29.94,...,10.0,7.0,1.0,10.0,4.0,18.0,0,0,1,1
249,735472,98,76,72.0,66.0,56.0,87.0,58.0,29.0,30.06,...,10.0,10.0,10.0,10.0,4.0,17.0,0,0,0,0
404,735627,79,52,55.0,49.0,34.0,100.0,68.0,35.0,30.39,...,10.0,10.0,6.0,16.0,4.0,25.0,0,0,0,0
116,735339,73,40,48.0,40.0,31.0,76.0,56.0,35.0,30.15,...,10.0,10.0,10.0,16.0,7.0,26.0,0,0,0,0

#### Congratulations! Now you have finished the preparation of the dataset!

# Bonus Challenge 1

#### While the above is the common practice to prepare most datasets, when it comes to time series data, we sometimes do not want to randomly select rows from our dataset.

This is because many time series algorithms rely on observations having equal time distances between them. In such cases, we typically select the majority of rows as the test data and the last few rows as the training data. We don't use `train_test_split()` to select the train/test data because it returns random selections.

In the following cell, compute the number of rows that account for 80% of our data and round it to the next integer. Assign this number to `ts_rows`.

In [ ]:
# Your code here:

Assign the first `ts_rows` rows of `X` to `X_ts_train` and the remaining rows to `X_ts_test`.

In [ ]:
# Your code here:

Assign the first `ts_rows` rows of `y` to `y_ts_train` and the remaining rows to `y_ts_test`.

In [ ]:
# Your code here: